## Operadores

In [1]:
9//3

3

Residuo de la división: %

In [2]:
8%3

2

Potenciación: **

In [3]:
2**4

16

concatenacion de string

In [4]:
string1="hola"
string2="mundo"
print(string1+string2)

holamundo

In [5]:
# es posible multiplicar un string por un número entero, el resultado será el n veces el string
string2*5

'mundomundomundomundomundo'

In [6]:
"si"+"ri"*3

'siririri'

## variables

Son espacios en memoria que posteriormente pueden ser utilizadas, en python no se especifica el tipo de variable tal como sucede en otros lenjuages como por ejemplo java

In [7]:
variable1=5
variable1**2
variable3=2.5
variable4="hello world"

In [8]:
print(f'{variable1} elevado a la 2 es {variable1**2}')

5 elevado a la 2 es 25

In [9]:
print("cinco elevado a la 2 es", variable1**2)

cinco elevado a la 2 es 25

In [10]:
## tipos de variables
print(type(variable1))
print(type(variable3))
print(type(variable4))

<class 'int'>
<class 'float'>
<class 'str'>

#### con la función str es posible cambiar un dato tipo numerico a uno de cadena

In [11]:
print(variable4+ " " +str(variable3))

hello world 2.5

In [12]:
# Formas de utilizar print.
nombre="eduardo"
apellido="flores"
print("jesus %s" %apellido)

jesus flores

In [13]:
# formato de las cadenas %.2f 
print("el nombre es %s y se le asigna una nota de %.2f" %(nombre,variable3))

el nombre es eduardo y se le asigna una nota de 2.50

In [14]:
# convertir string a numero entero con la función int
variable5="8"
type(variable5)

str

In [15]:
convertir=int(variable5)
10+convertir

18

## codificacion

In [16]:
# imprimer el codigo asci de la letra que se pasa como parametro.
print(ord("@"))
print(ord("/"))
print(ord(">"))

64
47
62

In [17]:
# valor absoluto
variable6=-10
abs(variable6)

10

Redondeo de variables con funcion round()

In [18]:
variable1=6.4
variable2=6.5
variable3=6.6
print(f'{round(variable1)}')
print(f'{round(variable2)}')
print(f'{round(variable3)}')

6
6
7

In [19]:
lista=list(range(5))
lista

[0, 1, 2, 3, 4]

In [20]:
# la funcion len cuenta el número de elementos en una lista
len("jesus Eduardo")

13

In [21]:
lista2=list(range(3,9))
lista2

[3, 4, 5, 6, 7, 8]

In [22]:
# si se especifica un tecer parametros, el ultimo parametros son los saltos
lista3=list(range(3,21,3))
lista3

[3, 6, 9, 12, 15, 18]

In [23]:
# tambien de una lista
len(lista)

5

## trabajando con datasets

In [24]:
import pandas as pd

In [25]:
df=pd.read_excel("lowbwt.xlsx")
df.head()

   id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0   4    1   28  120     3      1    1   0   1    0   709
1  10    1   29  130     1      0    0   0   1    2  1021
2  11    1   34  187     2      1    0   1   0    0  1135
3  13    1   25  105     3      0    1   1   0    0  1330
4  15    1   25   85     3      0    0   0   1    0  1474

In [26]:
# ver el tipo de variable del dataframe importado
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      189 non-null    int64
 1   low     189 non-null    int64
 2   age     189 non-null    int64
 3   lwt     189 non-null    int64
 4   race    189 non-null    int64
 5   smoke   189 non-null    int64
 6   ptl     189 non-null    int64
 7   ht      189 non-null    int64
 8   ui      189 non-null    int64
 9   ftv     189 non-null    int64
 10  bwt     189 non-null    int64
dtypes: int64(11)
memory usage: 16.4 KB

In [27]:
# describir el dataset para variables continuas y especificar los percentiles
df.describe(percentiles=[0.05,0.25,0.5,0.75,0.90,0.95,0.99]).T

,count,mean,std,min,5%,25%,50%,75%,90%,95%,99%,max
id,189.0,121.079365,63.303634,4.0,20.8,68.0,123.0,176.0,207.2,216.6,224.12,226.0
low,189.0,0.312169,0.464609,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.00,1.0
age,189.0,23.238095,5.298678,14.0,16.0,19.0,23.0,26.0,31.0,32.0,36.00,45.0
lwt,189.0,129.814815,30.579380,80.0,94.4,110.0,121.0,140.0,170.0,188.2,235.72,250.0
race,189.0,1.846561,0.918342,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.00,3.0
smoke,189.0,0.391534,0.489390,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.00,1.0
ptl,189.0,0.195767,0.493342,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.00,3.0
ht,189.0,0.063492,0.244494,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.00,1.0
ui,189.0,0.148148,0.356190,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.00,1.0
ftv,189.0,0.793651,1.059286,0.0,0.0,0.0,0.0,1.0,2.0,3.0,4.00,6.0
bwt,189.0,2944.656085,729.022417,709.0,1801.2,2414.0,2977.0,3475.0,3864.8,3997.0,4280.60,4990.0

In [28]:
# seleccionar por indice una observacion
df.iloc[0]

id         4
low        1
age       28
lwt      120
race       3
smoke      1
ptl        1
ht         0
ui         1
ftv        0
bwt      709
Name: 0, dtype: int64

In [29]:
# seleccioanr los primeros 5 por el indice
df.iloc[0:4]

   id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0   4    1   28  120     3      1    1   0   1    0   709
1  10    1   29  130     1      0    0   0   1    2  1021
2  11    1   34  187     2      1    0   1   0    0  1135
3  13    1   25  105     3      0    1   1   0    0  1330

In [30]:
df.iloc[:6]

   id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0   4    1   28  120     3      1    1   0   1    0   709
1  10    1   29  130     1      0    0   0   1    2  1021
2  11    1   34  187     2      1    0   1   0    0  1135
3  13    1   25  105     3      0    1   1   0    0  1330
4  15    1   25   85     3      0    0   0   1    0  1474
5  16    1   27  150     3      0    0   0   0    0  1588

In [31]:
# filtrar por columnas.
df.loc[:,['age','bwt']].head()

   age   bwt
0   28   709
1   29  1021
2   34  1135
3   25  1330
4   25  1474

In [32]:
# filtrar por indice y columnas al tiempo
df.loc[3:5:,['age','bwt']].head()

   age   bwt
3   25  1330
4   25  1474
5   27  1588

In [33]:
## eliminar una columna, se ebe asignar a una nueva variable.
df2=df
df3=df2.drop(['bwt'], axis=1)
df3

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv
0      4    1   28  120     3      1    1   0   1    0
1     10    1   29  130     1      0    0   0   1    2
2     11    1   34  187     2      1    0   1   0    0
3     13    1   25  105     3      0    1   1   0    0
4     15    1   25   85     3      0    0   0   1    0
..   ...  ...  ...  ...   ...    ...  ...  ..  ..  ...
184  222    0   31  120     1      0    0   0   0    2
185  223    0   35  170     1      0    1   0   0    1
186  224    0   19  120     1      1    0   0   0    0
187  225    0   24  116     1      0    0   0   0    1
188  226    0   45  123     1      0    0   0   0    1

[189 rows x 10 columns]

In [34]:
## crear nueva columna y asignar una suma
df3['suma']=df3['lwt']+df3['age']
df3

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv  suma
0      4    1   28  120     3      1    1   0   1    0   148
1     10    1   29  130     1      0    0   0   1    2   159
2     11    1   34  187     2      1    0   1   0    0   221
3     13    1   25  105     3      0    1   1   0    0   130
4     15    1   25   85     3      0    0   0   1    0   110
..   ...  ...  ...  ...   ...    ...  ...  ..  ..  ...   ...
184  222    0   31  120     1      0    0   0   0    2   151
185  223    0   35  170     1      0    1   0   0    1   205
186  224    0   19  120     1      1    0   0   0    0   139
187  225    0   24  116     1      0    0   0   0    1   140
188  226    0   45  123     1      0    0   0   0    1   168

[189 rows x 11 columns]

In [35]:
# crear nueva columna para obtener el promedio.
df3['suma']=(df3['lwt']+df3['age'])/2
df3

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   suma
0      4    1   28  120     3      1    1   0   1    0   74.0
1     10    1   29  130     1      0    0   0   1    2   79.5
2     11    1   34  187     2      1    0   1   0    0  110.5
3     13    1   25  105     3      0    1   1   0    0   65.0
4     15    1   25   85     3      0    0   0   1    0   55.0
..   ...  ...  ...  ...   ...    ...  ...  ..  ..  ...    ...
184  222    0   31  120     1      0    0   0   0    2   75.5
185  223    0   35  170     1      0    1   0   0    1  102.5
186  224    0   19  120     1      1    0   0   0    0   69.5
187  225    0   24  116     1      0    0   0   0    1   70.0
188  226    0   45  123     1      0    0   0   0    1   84.0

[189 rows x 11 columns]

In [36]:
# verificando el tipo de datos
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      189 non-null    int64
 1   low     189 non-null    int64
 2   age     189 non-null    int64
 3   lwt     189 non-null    int64
 4   race    189 non-null    int64
 5   smoke   189 non-null    int64
 6   ptl     189 non-null    int64
 7   ht      189 non-null    int64
 8   ui      189 non-null    int64
 9   ftv     189 non-null    int64
 10  suma    189 non-null    float64
dtypes: float64(1), int64(10)
memory usage: 16.4 KB

In [37]:
def concatenar(campo):
    conversion=str(campo)
    return conversion

In [38]:
# definir una función y aplicarla a una columa especifica.
df3['NuevoCampo']=df2['lwt'].apply(concatenar)
df3

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   suma NuevoCampo
0      4    1   28  120     3      1    1   0   1    0   74.0        120
1     10    1   29  130     1      0    0   0   1    2   79.5        130
2     11    1   34  187     2      1    0   1   0    0  110.5        187
3     13    1   25  105     3      0    1   1   0    0   65.0        105
4     15    1   25   85     3      0    0   0   1    0   55.0         85
..   ...  ...  ...  ...   ...    ...  ...  ..  ..  ...    ...        ...
184  222    0   31  120     1      0    0   0   0    2   75.5        120
185  223    0   35  170     1      0    1   0   0    1  102.5        170
186  224    0   19  120     1      1    0   0   0    0   69.5        120
187  225    0   24  116     1      0    0   0   0    1   70.0        116
188  226    0   45  123     1      0    0   0   0    1   84.0        123

[189 rows x 12 columns]

In [39]:
# los daros tipo str quedan como object.
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          189 non-null    int64
 1   low         189 non-null    int64
 2   age         189 non-null    int64
 3   lwt         189 non-null    int64
 4   race        189 non-null    int64
 5   smoke       189 non-null    int64
 6   ptl         189 non-null    int64
 7   ht          189 non-null    int64
 8   ui          189 non-null    int64
 9   ftv         189 non-null    int64
 10  suma        189 non-null    float64
 11  NuevoCampo  189 non-null    object
dtypes: float64(1), int64(10), object(1)
memory usage: 17.8+ KB

In [40]:
df3

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   suma NuevoCampo
0      4    1   28  120     3      1    1   0   1    0   74.0        120
1     10    1   29  130     1      0    0   0   1    2   79.5        130
2     11    1   34  187     2      1    0   1   0    0  110.5        187
3     13    1   25  105     3      0    1   1   0    0   65.0        105
4     15    1   25   85     3      0    0   0   1    0   55.0         85
..   ...  ...  ...  ...   ...    ...  ...  ..  ..  ...    ...        ...
184  222    0   31  120     1      0    0   0   0    2   75.5        120
185  223    0   35  170     1      0    1   0   0    1  102.5        170
186  224    0   19  120     1      1    0   0   0    0   69.5        120
187  225    0   24  116     1      0    0   0   0    1   70.0        116
188  226    0   45  123     1      0    0   0   0    1   84.0        123

[189 rows x 12 columns]

In [41]:
# filtrando filas por una condicion. es necesario asignar a un nuevo dataframe, si se quiere mantener el filtro.
df3[df3['age']==25]

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   suma NuevoCampo
3     13    1   25  105     3      0    1   1   0    0   65.0        105
4     15    1   25   85     3      0    0   0   1    0   55.0         85
12    24    1   25  115     3      0    0   0   0    0   70.0        115
14    26    1   25   92     1      1    0   0   0    0   58.5         92
20    32    1   25   89     3      0    2   0   0    1   57.0         89
31    46    1   25  105     3      0    1   0   0    1   65.0        105
76   103    0   25  118     1      1    0   0   0    3   71.5        118
83   111    0   25  120     3      0    0   0   1    2   72.5        120
92   120    0   25  155     1      0    0   0   0    1   90.0        155
93   121    0   25  125     2      0    0   0   0    0   75.0        125
135  169    0   25  140     1      0    0   0   0    1   82.5        140
152  188    0   25   95     1      1    3   0   1    0   60.0         95
164  202    0   25  241     2      0    0   1   0    0  133.0        241
177  215    0   25  120     1      0    0   0   0    2   72.5        120
183  221    0   25  130     1      0    0   0   0    2   77.5        130

In [42]:
# filtrando por diferentes
df3[df3['age']!=25]

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   suma NuevoCampo
0      4    1   28  120     3      1    1   0   1    0   74.0        120
1     10    1   29  130     1      0    0   0   1    2   79.5        130
2     11    1   34  187     2      1    0   1   0    0  110.5        187
5     16    1   27  150     3      0    0   0   0    0   88.5        150
6     17    1   23   97     3      0    0   0   1    1   60.0         97
..   ...  ...  ...  ...   ...    ...  ...  ..  ..  ...    ...        ...
184  222    0   31  120     1      0    0   0   0    2   75.5        120
185  223    0   35  170     1      0    1   0   0    1  102.5        170
186  224    0   19  120     1      1    0   0   0    0   69.5        120
187  225    0   24  116     1      0    0   0   0    1   70.0        116
188  226    0   45  123     1      0    0   0   0    1   84.0        123

[174 rows x 12 columns]

In [43]:
# filtrando por mayores a 35
df3[df3['age']>35]

      id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   suma NuevoCampo
81   108    0   36  202     1      0    0   0   0    1  119.0        202
147  183    0   36  175     1      0    0   0   0    0  105.5        175
188  226    0   45  123     1      0    0   0   0    1   84.0        123

In [44]:
# crear variables indicadores para luego realizar filtros.
def indicadorEdad(valor):
    if valor >25:
     return 1
    else:
        return 0

In [45]:
df3['indicadorEdad']=df3['age'].apply(indicadorEdad)
df3

,id,low,age,lwt,race,smoke,ptl,ht,ui,ftv,suma,NuevoCampo,indicadorEdad
0,4,1,28,120,3,1,1,0,1,0,74.0,120,1
1,10,1,29,130,1,0,0,0,1,2,79.5,130,1
2,11,1,34,187,2,1,0,1,0,0,110.5,187,1
3,13,1,25,105,3,0,1,1,0,0,65.0,105,0
4,15,1,25,85,3,0,0,0,1,0,55.0,85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,222,0,31,120,1,0,0,0,0,2,75.5,120,1
185,223,0,35,170,1,0,1,0,0,1,102.5,170,1
186,224,0,19,120,1,1,0,0,0,0,69.5,120,0
187,225,0,24,116,1,0,0,0,0,1,70.0,116,0
188,226,0,45,123,1,0,0,0,0,1,84.0,123,1

In [46]:
df4=df3[df3['indicadorEdad']==1]
df4.head(10)

,id,low,age,lwt,race,smoke,ptl,ht,ui,ftv,suma,NuevoCampo,indicadorEdad
0,4,1,28,120,3,1,1,0,1,0,74.0,120,1
1,10,1,29,130,1,0,0,0,1,2,79.5,130,1
2,11,1,34,187,2,1,0,1,0,0,110.5,187,1
5,16,1,27,150,3,0,0,0,0,0,88.5,150,1
10,22,1,32,105,1,1,0,0,0,0,68.5,105,1
23,35,1,26,117,1,1,1,0,0,0,71.5,117,1
28,43,1,27,130,2,0,0,0,1,0,78.5,130,1
37,54,1,26,96,3,0,0,0,0,0,61.0,96,1
38,56,1,31,102,1,1,1,0,0,1,66.5,102,1
45,65,1,30,142,1,1,1,0,0,0,86.0,142,1

In [47]:
## identificar duplicadosy crear la variable indicadora
df5=df4.sort_values(by='age')
df5['duplicados']=df5.duplicated(subset=['age'],keep='last')
df5

,id,low,age,lwt,race,smoke,ptl,ht,ui,ftv,suma,NuevoCampo,indicadorEdad,duplicados
52,77,1,26,190,1,1,0,0,0,0,108.0,190,1,True
180,218,0,26,160,3,0,0,0,0,0,93.0,160,1,True
87,115,0,26,168,2,1,0,0,0,0,97.0,168,1,True
23,35,1,26,117,1,1,1,0,0,0,71.5,117,1,True
37,54,1,26,96,3,0,0,0,0,0,61.0,96,1,True
50,75,1,26,154,3,0,1,1,0,1,90.0,154,1,True
123,154,0,26,133,3,1,2,0,0,0,79.5,133,1,True
68,95,0,26,113,1,1,0,0,0,0,69.5,113,1,False
5,16,1,27,150,3,0,0,0,0,0,88.5,150,1,True
96,125,0,27,124,1,1,0,0,0,0,75.5,124,1,True
28,43,1,27,130,2,0,0,0,1,0,78.5,130,1,False
122,151,0,28,140,1,0,0,0,0,0,84.0,140,1,True
78,105,0,28,120,1,1,0,0,0,1,74.0,120,1,True
126,159,0,28,250,3,1,0,0,0,6,139.0,250,1,True
0,4,1,28,120,3,1,1,0,1,0,74.0,120,1,True
54,79,1,28,95,1,1,0,0,0,2,61.5,95,1,True
82,109,0,28,120,3,0,0,0,0,0,74.0,120,1,True
174,212,0,28,134,3,0,0,0,0,1,81.0,134,1,True
176,214,0,28,130,3,0,0,0,0,0,79.0,130,1,True
84,112,0,28,167,1,0,0,0,0,0,97.5,167,1,False
155,191,0,29,154,1,0,0,0,0,1,91.5,154,1,True
171,209,0,29,130,1,1,0,0,0,2,79.5,130,1,True
154,190,0,29,135,1,0,0,0,0,1,82.0,135,1,True
94,123,0,29,140,1,1,0,0,0,2,84.5,140,1,True
1,10,1,29,130,1,0,0,0,1,2,79.5,130,1,True
86,114,0,29,150,1,0,0,0,0,2,89.5,150,1,True
67,94,0,29,123,1,1,0,0,0,1,76.0,123,1,False
45,65,1,30,142,1,1,1,0,0,0,86.0,142,1,True
72,99,0,30,107,3,0,1,0,1,2,68.5,107,1,True
158,195,0,30,137,1,0,0,0,0,1,83.5,137,1,True
141,176,0,30,110,3,0,0,0,0,0,70.0,110,1,True
116,145,0,30,153,3,0,0,0,0,0,91.5,153,1,True
165,203,0,30,112,1,0,0,0,0,1,71.0,112,1,True
112,141,0,30,95,1,1,0,0,0,2,62.5,95,1,False
97,126,0,31,215,1,1,0,0,0,2,123.0,215,1,True
80,107,0,31,100,1,0,0,0,1,3,65.5,100,1,True
130,163,0,31,150,3,1,0,0,0,2,90.5,150,1,True
38,56,1,31,102,1,1,1,0,0,1,66.5,102,1,True
184,222,0,31,120,1,0,0,0,0,2,75.5,120,1,False
169,207,0,32,186,1,0,0,0,0,2,109.0,186,1,True
10,22,1,32,105,1,1,0,0,0,0,68.5,105,1,True
140,175,0,32,170,1,0,0,0,0,0,101.0,170,1,True
79,106,0,32,121,3,0,0,0,0,2,76.5,121,1,True
105,134,0,32,132,1,0,0,0,0,4,82.0,132,1,True
136,170,0,32,134,1,1,1,0,0,4,83.0,134,1,False
98,127,0,33,109,1,1,0,0,0,1,71.0,109,1,True
172,210,0,33,117,1,0,0,0,1,1,75.0,117,1,True
60,86,0,33,155,3,0,0,0,0,3,94.0,155,1,False
2,11,1,34,187,2,1,0,1,0,0,110.5,187,1,False
185,223,0,35,170,1,0,1,0,0,1,102.5,170,1,True
91,119,0,35,121,2,1,1,0,0,1,78.0,121,1,False
81,108,0,36,202,1,0,0,0,0,1,119.0,202,1,True
147,183,0,36,175,1,0,0,0,0,0,105.5,175,1,False
188,226,0,45,123,1,0,0,0,0,1,84.0,123,1,False

In [48]:
# ver el tipo de variable creada: bool
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 52 to 188
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             54 non-null     int64
 1   low            54 non-null     int64
 2   age            54 non-null     int64
 3   lwt            54 non-null     int64
 4   race           54 non-null     int64
 5   smoke          54 non-null     int64
 6   ptl            54 non-null     int64
 7   ht             54 non-null     int64
 8   ui             54 non-null     int64
 9   ftv            54 non-null     int64
 10  suma           54 non-null     float64
 11  NuevoCampo     54 non-null     object
 12  indicadorEdad  54 non-null     int64
 13  duplicados     54 non-null     bool
dtypes: bool(1), float64(1), int64(11), object(1)
memory usage: 6.0+ KB

In [49]:
# quedarme con los registros unicos.
df6=df5[df5['duplicados']==False]
df6

,id,low,age,lwt,race,smoke,ptl,ht,ui,ftv,suma,NuevoCampo,indicadorEdad,duplicados
68,95,0,26,113,1,1,0,0,0,0,69.5,113,1,False
28,43,1,27,130,2,0,0,0,1,0,78.5,130,1,False
84,112,0,28,167,1,0,0,0,0,0,97.5,167,1,False
67,94,0,29,123,1,1,0,0,0,1,76.0,123,1,False
112,141,0,30,95,1,1,0,0,0,2,62.5,95,1,False
184,222,0,31,120,1,0,0,0,0,2,75.5,120,1,False
136,170,0,32,134,1,1,1,0,0,4,83.0,134,1,False
60,86,0,33,155,3,0,0,0,0,3,94.0,155,1,False
2,11,1,34,187,2,1,0,1,0,0,110.5,187,1,False
91,119,0,35,121,2,1,1,0,0,1,78.0,121,1,False
147,183,0,36,175,1,0,0,0,0,0,105.5,175,1,False
188,226,0,45,123,1,0,0,0,0,1,84.0,123,1,False

In [50]:
# filtra por mas de dos condiciones
df7=df6[(df6['smoke']==1) & (df6['ptl']==1)]
df7

,id,low,age,lwt,race,smoke,ptl,ht,ui,ftv,suma,NuevoCampo,indicadorEdad,duplicados
136,170,0,32,134,1,1,1,0,0,4,83.0,134,1,False
91,119,0,35,121,2,1,1,0,0,1,78.0,121,1,False

In [52]:
# filtrar por tres condiciones
df7=df6[(df6['smoke']==1) & (df6['ptl']==1) & (df6['ftv']==4)]
df7

,id,low,age,lwt,race,smoke,ptl,ht,ui,ftv,suma,NuevoCampo,indicadorEdad,duplicados
136,170,0,32,134,1,1,1,0,0,4,83.0,134,1,False

In [55]:
df8=pd.read_csv("iris.csv")
df8.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [56]:
# los datos tipo cadena quedan como tipo object en python.
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [57]:
df8.groupby('variety').mean()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [71]:
grupos=df8.groupby('variety')

In [73]:
# tipo de objeto creado
type(grupos)

pandas.core.groupby.generic.DataFrameGroupBy

In [76]:
grupos.get_group('Setosa').head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [77]:
grupos.get_group('Versicolor').head(10)

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor
56           6.3          3.3           4.7          1.6  Versicolor
57           4.9          2.4           3.3          1.0  Versicolor
58           6.6          2.9           4.6          1.3  Versicolor
59           5.2          2.7           3.9          1.4  Versicolor

In [79]:
grupos.mean()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [59]:
df9=pd.read_csv('titanic.csv')
df9

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [60]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [62]:
df9.groupby('Sex').mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,431.028662,0.742038,2.159236,27.915709,0.694268,0.649682,44.479818
male,454.147314,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893

In [63]:
df9['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [66]:
df9.groupby(['Survived','Sex'])['Age'].mean()

Survived  Sex
0         female    25.046875
          male      31.618056
1         female    28.847716
          male      27.276022
Name: Age, dtype: float64

In [68]:
# agrupar por dos variables tipo object
df9.groupby(['Survived','Embarked'])['Age'].mean()

Survived  Embarked
0         C           33.666667
          Q           30.325000
          S           30.203966
1         C           28.973671
          Q           22.500000
          S           28.113184
Name: Age, dtype: float64

In [70]:
# agrupar por mas de dos variables tipo object
df9.groupby(['Survived','Embarked','Pclass'])['Age'].mean()

Survived  Embarked  Pclass
0         C         1         43.380952
                    2         29.500000
                    3         26.065217
          Q         1         44.000000
                    2         57.000000
                    3         28.083333
          S         1         43.845238
                    2         33.603659
                    3         26.484716
1         C         1         35.905660
                    2         16.875000
                    3         13.940000
          Q         1         33.000000
                    2         30.000000
                    3         19.500000
          S         1         34.529091
                    2         26.822027
                    3         22.737705
Name: Age, dtype: float64

In [80]:
gruposTitanic=df9.groupby(['Survived','Sex'])