## Operadores

In [ ]:
9//3

Residuo de la división: %

In [8]:
8%3

2

Potenciación: **

In [9]:
2**4

16

concatenacion de string

In [10]:
string1="hola"
string2="mundo"
print(string1+string2)

holamundo

In [12]:
# es posible multiplicar un string por un número entero, el resultado será el n veces el string
string2*5

'mundomundomundomundomundo'

In [13]:
"si"+"ri"*3

'siririri'

## variables

Son espacios en memoria que posteriormente pueden ser utilizadas, en python no se especifica el tipo de variable tal como sucede en otros lenjuages como por ejemplo java

In [24]:
variable1=5
variable1**2
variable3=2.5
variable4="hello world"

In [18]:
print(f'{variable1} elevado a la 2 es {variable1**2}')

5 elevado a la 2 es 25

In [20]:
print("cinco elevado a la 2 es", variable1**2)

cinco elevado a la 2 es 25

In [25]:
## tipos de variables
print(type(variable1))
print(type(variable3))
print(type(variable4))

<class 'int'>
<class 'float'>
<class 'str'>

#### con la función str es posible cambiar un dato tipo numerico a uno de cadena

In [28]:
print(variable4+ " " +str(variable3))

hello world 2.5

In [31]:
# Formas de utilizar print.
nombre="eduardo"
apellido="flores"
print("jesus %s" %apellido)

jesus flores

In [35]:
# formato de las cadenas %.2f 
print("el nombre es %s y se le asigna una nota de %.2f" %(nombre,variable3))

el nombre es eduardo y se le asigna una nota de 2.50

In [40]:
# convertir string a numero entero con la función int
variable5="8"
type(variable5)

str

In [39]:
convertir=int(variable5)
10+convertir

18

## codificacion

In [45]:
# imprimer el codigo asci de la letra que se pasa como parametro.
print(ord("@"))
print(ord("/"))
print(ord(">"))

64
47
62

In [47]:
# valor absoluto
variable6=-10
abs(variable6)

10

Redondeo de variables con funcion round()

In [53]:
variable1=6.4
variable2=6.5
variable3=6.6
print(f'{round(variable1)}')
print(f'{round(variable2)}')
print(f'{round(variable3)}')

6
6
7

In [64]:
lista=list(range(5))
lista

[0, 1, 2, 3, 4]

In [69]:
# la funcion len cuenta el número de elementos en una lista
len("jesus Eduardo")

13

In [75]:
lista2=list(range(3,9))
lista2

[3, 4, 5, 6, 7, 8]

In [78]:
# si se especifica un tecer parametros, el ultimo parametros son los saltos
lista3=list(range(3,21,3))
lista3

[3, 6, 9, 12, 15, 18]

In [71]:
# tambien de una lista
len(lista)

5

## trabajando con datasets

In [79]:
import pandas as pd

In [88]:
df=pd.read_excel("lowbwt.xlsx")
df.head()

   id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0   4    1   28  120     3      1    1   0   1    0   709
1  10    1   29  130     1      0    0   0   1    2  1021
2  11    1   34  187     2      1    0   1   0    0  1135
3  13    1   25  105     3      0    1   1   0    0  1330
4  15    1   25   85     3      0    0   0   1    0  1474

In [83]:
# ver el tipo de variable del dataframe importado
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      189 non-null    int64
 1   low     189 non-null    int64
 2   age     189 non-null    int64
 3   lwt     189 non-null    int64
 4   race    189 non-null    int64
 5   smoke   189 non-null    int64
 6   ptl     189 non-null    int64
 7   ht      189 non-null    int64
 8   ui      189 non-null    int64
 9   ftv     189 non-null    int64
 10  bwt     189 non-null    int64
dtypes: int64(11)
memory usage: 16.4 KB

In [87]:
# describir el dataset para variables continuas y especificar los percentiles
df.describe(percentiles=[0.05,0.25,0.5,0.75,0.90,0.95,0.99]).T

,count,mean,std,min,5%,25%,50%,75%,90%,95%,99%,max
id,189.0,121.079365,63.303634,4.0,20.8,68.0,123.0,176.0,207.2,216.6,224.12,226.0
low,189.0,0.312169,0.464609,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.00,1.0
age,189.0,23.238095,5.298678,14.0,16.0,19.0,23.0,26.0,31.0,32.0,36.00,45.0
lwt,189.0,129.814815,30.579380,80.0,94.4,110.0,121.0,140.0,170.0,188.2,235.72,250.0
race,189.0,1.846561,0.918342,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.00,3.0
smoke,189.0,0.391534,0.489390,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.00,1.0
ptl,189.0,0.195767,0.493342,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.00,3.0
ht,189.0,0.063492,0.244494,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.00,1.0
ui,189.0,0.148148,0.356190,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.00,1.0
ftv,189.0,0.793651,1.059286,0.0,0.0,0.0,0.0,1.0,2.0,3.0,4.00,6.0
bwt,189.0,2944.656085,729.022417,709.0,1801.2,2414.0,2977.0,3475.0,3864.8,3997.0,4280.60,4990.0

In [90]:
# seleccionar por indice una observacion
df.iloc[0]

id         4
low        1
age       28
lwt      120
race       3
smoke      1
ptl        1
ht         0
ui         1
ftv        0
bwt      709
Name: 0, dtype: int64

In [94]:
# seleccioanr los primeros 5 por el indice
df.iloc[0:4]

   id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0   4    1   28  120     3      1    1   0   1    0   709
1  10    1   29  130     1      0    0   0   1    2  1021
2  11    1   34  187     2      1    0   1   0    0  1135
3  13    1   25  105     3      0    1   1   0    0  1330

In [95]:
df.iloc[:4]

   id  low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0   4    1   28  120     3      1    1   0   1    0   709
1  10    1   29  130     1      0    0   0   1    2  1021
2  11    1   34  187     2      1    0   1   0    0  1135
3  13    1   25  105     3      0    1   1   0    0  1330